
/* footer styles */
#footer {
	padding: 20px 0 0;
	font-size: 12px;
	font-family: $base-font-helvetica;
	text-align: center;
	
	@include media('>=tablet') {
		padding: 48px 0 0;
		text-align: left;
	}
	.container {
		max-width: 913px;
	}
	.info {
		font-weight: 500;
		padding: 0 0 20px;
		
		@include media('>=tablet') {
			width: 30%;
			float: left;
			padding: 0 30px 27px 0;
		}
		@include media('>=desktop') {
			width: 34%;
		}
		p {
			margin: 0 0 10px;
			
			@include media('>=tablet') {
				margin: 0 0 15px;
			}
		}
		ul {
			@extend %listreset;
		}
	}
	/* page logo styles */
	.logo {
		width: 120px;
		margin: 0 auto 10px;
		
		@include media('>=tablet') {
			width: 153px;
			margin: 0 2px 12px;
		}
		img {
			@include img-full-width;
		}
	}
	.contact {
		overflow: hidden;
		color: #535449;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		
		@include media('>=phone') {
			display: flex;
			text-align: left;
		}
		@include media('>=tablet') {
			font-size: 18px;
			line-height: 24px;
		}
		address {
			font-style: normal;
			padding: 10px 0;
			border-width: 1px 0 0;
			border-style: solid;
			border-color: #92928b;
			
			@include media('>=phone') {
				width: 52.2%;
				padding: 15px 20px;
				border-width: 0 0 0 1px;
			}
			@include media('>=tablet') {
				padding: 16px 20px 17px 30px;
			}
			@include media('>=desktop') {
				padding: 16px 20px 17px 53px;
			}
			strong {
				display: block;
				font-weight: 600;
			}
		}
		ul {
			@extend %listreset;
			padding: 10px 0;
			border-width: 1px 0 0;
			border-style: solid;
			border-color: #92928b;
			
			@include media('>=phone') {
				width: 47.8%;
				padding: 15px 20px;
				border-width: 0 0 0 1px;
			}
			@include media('>=tablet') {
				padding: 16px 10px 17px 30px;
			}
			@include media('>=desktop') {
				padding: 16px 10px 17px 70px;
			}
		}
	}
	.copyrights {
		padding: 10px 0;
		font: 300 12px/16px $base-font-sans-serif;
		color: $gray-light;
		background: $black;
		
		p {
			margin: 0;
		}
		a {
			color: $gray-light;
			
			&:hover {
				color: $white;
			}
		}
	}
}